.form-add {
    box-sizing: border-box;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 90%;
    border: 3px solid indianred;
    border-radius: 10px;
    background-color: #eee;
    padding: 10px;
}

.form-add-project {
    width: calc(100%/3);
}

.form-add-todo {
    width: 100%;
}

::placeholder {
    color: inherit;
    font: inherit;
  }

.form-add div, .form-add input {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: calc(100%/4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.form-edit {
    box-sizing: border-box;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 90%;
    border: 3px solid indianred;
    border-radius: 10px;
    background-color: #eee;
    padding: 10px;
}

.form-edit-home {
    width: calc(100%/3);
}

.form-edit-todo {
    width: 100%;
}

::placeholder {
    color: inherit;
    font: inherit;
  }

.form-edit div, .form-edit input {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: calc(100%/4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

label {
    /* float: left; */
    width: 20%;
}

select {
    float: right;
    width: 80%;
}
