.project {
  box-sizing: border-box;
  border: 3px solid green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  
.project > div {
  padding: 1%;
}
  
.project-title {
  background-color: #eee;
  color: #444;
  text-align: left;
  cursor: pointer;
  outline: none;
  margin: 1%;
}

.project-active, .project-title:hover {
  background-color: #ccc;
}

.project-title:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.project-active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.project-content {
  display: none;
  background-color: #f1f1f1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.project-details, .project-controls {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.project-controls {
  justify-content: flex-end;
}

.project-details > div, .project-controls > div {
  width: 50%;
  height: 100%;
  text-align: center;
}

.project-controls > div {
  width: calc(100%/3/3);
}

.project-items {
  box-sizing: border-box;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
}

.project-items > div {
  padding: 3px;
}

.project-items-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

