#home {
    box-sizing: border-box;
    width: 80vw;
    height: 100%;
    margin: auto;
    overflow: auto; 
    border: 5px solid red;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

#home > div {
    margin: 3px;
    width: 30vw;
}